body {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  body {
    padding-bottom: 56px;
  }
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header {
  width: 89.58%;
  background: #f8faff;
  border-radius: 12px;
  margin-left: 5.21%;
  height: 631px;
  margin-top: 33px;
  padding-top: 29px;
}
@media (max-width: 1600px) {
  header {
    width: calc(90.625% - 96px);
    margin: 31px auto 0 auto;
    padding: 31px 48px 0 48px;
    height: 569px;
  }
}
@media (max-width: 1024px) {
  header {
    width: calc(90.625% - 48px);
    height: 519px;
    padding: 31px 24px 0 24px;
  }
}
@media (max-width: 768px) {
  header {
    width: calc(87.2% - 48px);
    height: 419px;
    padding: 21px 24px 0 24px;
    margin: 26px auto 0 auto;
  }
}
header .header-top {
  width: 69.76%;
  margin-left: 15.12%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  header .header-top {
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 1300px) {
  header .header-top {
    width: 100%;
    margin-left: 0;
  }
}
header .header-top .header-top-title {
  width: 204px;
  line-height: 52px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  header .header-top .header-top-title {
    width: 175px;
    line-height: 42px;
  }
}
@media (max-width: 768px) {
  header .header-top .header-top-title {
    width: 143px;
    line-height: 30px;
  }
}
@media (max-width: 1024px) {
  header .header-top .header-top-title img {
    width: 40px;
  }
}
@media (max-width: 768px) {
  header .header-top .header-top-title img {
    width: 29px;
  }
}
header .header-top .header-top-title .header-title-content {
  font-size: 24px;
  color: #1994ff;
  font-weight: 700;
}
@media (max-width: 1024px) {
  header .header-top .header-top-title .header-title-content {
    font-size: 20px;
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  header .header-top .header-top-title .header-title-content {
    font-size: 18px;
    margin-left: 0;
  }
}
header .header-top .header-top-nav {
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  header .header-top .header-top-nav {
    height: 42px;
    line-height: 42px;
  }
}
@media (max-width: 768px) {
  header .header-top .header-top-nav {
    display: none;
  }
}
header .header-top .header-top-nav a {
  margin-left: 36px;
  color: rgba(0, 0, 0, 0.65);
}
header .header-top .header-top-nav a:hover {
  opacity: 0.8;
}
header .header-top .top-line {
  display: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
@media (max-width: 768px) {
  header .header-top .top-line {
    width: 22px;
    height: 18px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
}
header .header-top .top-line .line-content {
  width: 22px;
  height: 2px;
  opacity: 1;
  background: #000000;
  border-radius: 100px;
}
header .header-bottom {
  width: 72.03%;
  height: 481px;
  margin-left: 15.12%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  header .header-bottom {
    width: 80%;
    margin-left: 10%;
    margin-top: 38px;
  }
}
@media (max-width: 1300px) {
  header .header-bottom {
    width: 100%;
    margin-left: 0;
    margin-top: 38px;
  }
}
@media (max-width: 1024px) {
  header .header-bottom {
    margin-top: 76px;
  }
}
@media (max-width: 768px) {
  header .header-bottom {
    margin-top: 71px;
    height: auto;
  }
}
header .header-bottom .header-bottom-left {
  margin-top: 110px;
}
@media (max-width: 1600px) {
  header .header-bottom .header-bottom-left {
    margin-top: 100px;
  }
}
@media (max-width: 1024px) {
  header .header-bottom .header-bottom-left {
    margin-top: 67px;
  }
}
@media (max-width: 900px) {
  header .header-bottom .header-bottom-left {
    width: 46.13%;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  header .header-bottom .header-bottom-left {
    width: 100%;
    margin-top: 0;
  }
}
header .header-bottom .header-bottom-left .header-left-title {
  font-size: 48px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}
@media (max-width: 1600px) {
  header .header-bottom .header-bottom-left .header-left-title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  header .header-bottom .header-bottom-left .header-left-title {
    font-size: 28px;
  }
}
header .header-bottom .header-bottom-left .header-left-text {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 18px;
}
@media (max-width: 1600px) {
  header .header-bottom .header-bottom-left .header-left-text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  header .header-bottom .header-bottom-left .header-left-text {
    font-size: 16px;
    margin-top: 12px;
  }
}
header .header-bottom .header-bottom-left .header-left-button {
  width: 414px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1600px) {
  header .header-bottom .header-bottom-left .header-left-button {
    width: 412px;
  }
}
@media (max-width: 1024px) {
  header .header-bottom .header-bottom-left .header-left-button {
    width: 332px;
  }
}
@media (max-width: 900px) {
  header .header-bottom .header-bottom-left .header-left-button {
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  header .header-bottom .header-bottom-left .header-left-button {
    width: 100%;
    margin-top: 38px;
  }
}
header .header-bottom .header-bottom-left .header-left-button .header-button {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 9px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
@media (max-width: 1600px) {
  header .header-bottom .header-bottom-left .header-left-button .header-button {
    height: 46px;
    line-height: 46px;
  }
}
@media (max-width: 1024px) {
  header .header-bottom .header-bottom-left .header-left-button .header-button {
    width: 158px;
    height: 48px;
    line-height: 48px;
  }
}
@media (max-width: 900px) {
  header .header-bottom .header-bottom-left .header-left-button .header-button {
    width: 80%;
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  header .header-bottom .header-bottom-left .header-left-button .header-button {
    width: 100%;
    margin-top: 17px;
  }
}
header .header-bottom .header-bottom-left .header-left-button .header-button:hover {
  transition: all 0.3s;
  transform: translate(0px, -6px);
}
header .header-bottom .header-bottom-left .header-left-button .button-active {
  height: 52px;
  background: #4fb5ff;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 8px 24px 0px rgba(77, 160, 255, 0.25);
  color: #ffffff;
}
@media (max-width: 1600px) {
  header .header-bottom .header-bottom-right {
    width: 477px;
  }
}
@media (max-width: 1024px) {
  header .header-bottom .header-bottom-right {
    width: 391px;
  }
}
@media (max-width: 768px) {
  header .header-bottom .header-bottom-right {
    display: none;
  }
}
header .header-bottom .header-bottom-right img {
  width: 100%;
}
.main-nav {
  height: 100vh;
  width: 100%;
  display: none;
  background: white;
  position: absolute;
  z-index: 100;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
}
.main-nav .top-show {
  width: 28px;
  height: 28px;
  color: black;
  font-size: 50px;
  line-height: 20px;
  cursor: pointer;
}
.main-nav a {
  text-decoration: none;
  color: black;
}
.main-nav .main-nav_title {
  border-bottom: 1px solid black;
  margin: 0 20px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 60px;
}
.main-nav #hidemenu {
  width: 28px;
  font-size: 38px;
  margin-left: calc(100% - 40px);
  border: 0;
  cursor: pointer;
}
.header-fixed-big {
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 20px -8px rgba(0, 0, 0, 0.08);
  display: none;
  position: fixed;
  top: 0;
}
@media (max-width: 768px) {
  .header-fixed-big {
    display: none;
  }
}
.header-fixed-big .header-fixed-cotent {
  width: 89.58%;
  margin-left: 5.21%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-fixed-big .header-fixed-cotent .header-fixed-left {
  width: 215px;
  height: 60px;
  display: flex;
}
.header-fixed-big .header-fixed-cotent .header-fixed-left img {
  width: 50px;
  height: 52px;
  margin-top: 4px;
}
.header-fixed-big .header-fixed-cotent .header-fixed-left .fixed-left-text {
  line-height: 60px;
  margin-left: 10px;
  font-size: 24px;
  color: #1994ff;
  font-weight: 700;
}
.header-fixed-big .header-fixed-cotent .header-fixed-right {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header-fixed-big .header-fixed-cotent .header-fixed-right {
    display: none;
  }
}
.header-fixed-big .header-fixed-cotent .header-fixed-right a {
  color: rgba(0, 0, 0, 0.65);
  margin-left: 36px;
}
.header-fixed-big .header-fixed-cotent .header-fixed-right a:hover {
  opacity: 0.8;
}
.header-fixed-big .header-fixed-cotent .top-line {
  display: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
@media (max-width: 768px) {
  .header-fixed-big .header-fixed-cotent .top-line {
    width: 22px;
    height: 18px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
}
.header-fixed-big .header-fixed-cotent .top-line .line-content {
  width: 22px;
  height: 2px;
  opacity: 1;
  background: #000000;
  border-radius: 100px;
}
.foot-contact {
  display: none;
}
@media (max-width: 768px) {
  .foot-contact {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    background: white;
    box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.12);
  }
}
.foot-contact .foot-contact-content {
  width: 87.2%;
  margin-left: 6.4%;
  display: flex;
  justify-content: space-between;
  line-height: 56px;
}
.foot-contact .foot-contact-content .contact-left {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.foot-contact .foot-contact-content .contact-right {
  display: flex;
  position: relative;
}
.foot-contact .foot-contact-content .contact-right .wechatQRcode-small {
  width: 100px;
  display: none;
  position: absolute;
  top: -100px;
  left: -20px;
}
.foot-contact .foot-contact-content .contact-right .wechatQRcode-small img {
  width: 100%;
}
.foot-contact .foot-contact-content .contact-right .telephone-small {
  font-size: 14px;
  display: none;
  position: absolute;
  width: 100px;
  height: 45px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 45px;
  color: #000000;
  top: -45px;
  left: 25px;
}
.foot-contact .foot-contact-content .contact-right .customerQRcode-small {
  width: 100px;
  display: none;
  position: absolute;
  top: -100px;
  left: 70px;
}
.foot-contact .foot-contact-content .contact-right .customerQRcode-small img {
  width: 100%;
}
.foot-contact .foot-contact-content .contact-right .cotact-option {
  width: 34px;
  height: 34px;
  opacity: 1;
  border-radius: 50%;
  margin-left: 13px;
  margin-top: 11px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.foot-contact .foot-contact-content .contact-right .cotact-option img {
  width: 18px;
  margin: 8px;
}
.foot-contact .foot-contact-content .contact-right .wechat-border {
  border: 1px solid #07ca0c;
}
.foot-contact .foot-contact-content .contact-right .tel-border {
  border: 1px solid #ffbd27;
}
.foot-contact .foot-contact-content .contact-right .customer-border {
  border: 1px solid #1994ff;
}
.middle {
  width: 100%;
}
.middle .middle-free-use {
  width: 62.5%;
  margin-left: 18.75%;
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .middle .middle-free-use {
    width: 90.625%;
    margin-left: 4.6875%;
    margin-top: 36px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-free-use {
    margin-top: 34px;
  }
}
@media (max-width: 768px) {
  .middle .middle-free-use {
    flex-direction: column;
    width: 87.2%;
    margin-top: 24px;
    margin-left: 6.4%;
  }
}
@media (max-width: 900px) {
  .middle .middle-free-use img {
    width: 43.28%;
  }
}
@media (max-width: 768px) {
  .middle .middle-free-use img {
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 375px) {
  .middle .middle-free-use img {
    width: 100%;
    margin-left: 0;
  }
}
.middle .middle-free-use .free-use-content {
  width: 490px;
  margin-top: 107px;
}
@media (max-width: 1024px) {
  .middle .middle-free-use .free-use-content {
    width: 380px;
    margin-top: 94px;
  }
}
@media (max-width: 768px) {
  .middle .middle-free-use .free-use-content {
    width: 100%;
    margin-top: 30px;
  }
}
.middle .middle-free-use .free-use-content .free-use-text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 28px;
}
@media (max-width: 1024px) {
  .middle .middle-free-use .free-use-content .free-use-text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .middle .middle-free-use .free-use-content .free-use-text {
    line-height: 26px;
    text-align: center;
  }
}
.middle .middle-free-use .free-use-content .free-use-button {
  margin-top: 12px;
  display: inline-block;
  width: 200px;
  height: 52px;
  line-height: 50px;
  text-align: center;
  background: #4fb5ff;
  border-radius: 8px;
  box-shadow: 0px 8px 24px 0px rgba(77, 160, 255, 0.25);
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .middle .middle-free-use .free-use-content .free-use-button {
    height: 48px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-free-use .free-use-content .free-use-button {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .middle .middle-free-use .free-use-content .free-use-button {
    display: none;
  }
}
.middle .middle-function {
  width: 62.5%;
  margin-left: 18.75%;
  height: 567px;
  margin-top: 132px;
}
@media (max-width: 1600px) {
  .middle .middle-function {
    width: 90.625%;
    height: 513px;
    margin-left: 4.6875%;
    margin-top: 77px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-function {
    height: 579px;
    margin-top: 78px;
  }
}
@media (max-width: 768px) {
  .middle .middle-function {
    width: 87.2%;
    height: auto;
    margin-top: 123px;
    margin-left: 6.4%;
  }
}
.middle .middle-function .function-top {
  font-size: 36px;
  font-weight: 700;
  text-align: CENTER;
  color: rgba(0, 0, 0, 0.85);
}
@media (max-width: 1600px) {
  .middle .middle-function .function-top {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .middle .middle-function .function-top {
    font-size: 24px;
  }
}
.middle .middle-function .function-bottom {
  width: 100%;
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1600px) {
  .middle .middle-function .function-bottom {
    margin-top: 28px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-function .function-bottom {
    margin-top: 34px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-function .function-bottom {
    margin-top: 43px;
  }
}
.middle .middle-function .function-bottom .function-option {
  width: calc((100% - 120px) / 3);
  height: 160px;
  background: #f8f8f8;
  border-radius: 12px;
  margin-top: 32px;
}
@media (max-width: 1600px) {
  .middle .middle-function .function-bottom .function-option {
    width: calc((100% - 116px) / 3);
  }
}
@media (max-width: 1024px) {
  .middle .middle-function .function-bottom .function-option {
    width: calc((100% - 48px) / 3);
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  .middle .middle-function .function-bottom .function-option {
    width: 100%;
    height: 140px;
    margin-top: 16px;
  }
}
.middle .middle-function .function-bottom .function-option .option-title {
  font-size: 20px;
  font-weight: 700;
  text-align: CENTER;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 34px;
}
@media (max-width: 1600px) {
  .middle .middle-function .function-bottom .function-option .option-title {
    font-size: 18px;
    margin-top: 36px;
  }
}
@media (max-width: 768px) {
  .middle .middle-function .function-bottom .function-option .option-title {
    font-size: 16px;
    margin-top: 30px;
  }
}
.middle .middle-function .function-bottom .function-option .option-text {
  width: 67.78%;
  margin-left: 16.11%;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
  text-align: CENTER;
  color: rgba(0, 0, 0, 0.65);
}
@media (max-width: 1600px) {
  .middle .middle-function .function-bottom .function-option .option-text {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-function .function-bottom .function-option .option-text {
    font-size: 13px;
    width: 83.28%;
    margin-left: 8.36%;
  }
}
@media (max-width: 768px) {
  .middle .middle-function .function-bottom .function-option .option-text {
    font-size: 13px;
    margin-top: 20px;
  }
}
.middle .middle-simple-operation {
  width: 100%;
  height: 620px;
  display: flex;
}
@media (max-width: 1600px) {
  .middle .middle-simple-operation {
    height: 520px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-simple-operation {
    height: 480px;
  }
}
@media (max-width: 768px) {
  .middle .middle-simple-operation {
    height: auto;
    margin-top: 47px;
  }
}
.middle .middle-simple-operation .simple-operation-cotent {
  width: 62.5%;
  margin-left: 18.75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .middle .middle-simple-operation .simple-operation-cotent {
    width: 90.625%;
    margin-left: 4.6875%;
  }
}
@media (max-width: 768px) {
  .middle .middle-simple-operation .simple-operation-cotent {
    width: 87.2%;
    margin-top: 60px;
    margin-left: 6.4%;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.middle .middle-simple-operation .simple-operation-cotent .simple-img {
  box-shadow: -15px 23px 35px 0px rgba(79, 181, 255, 0.12);
}
@media (max-width: 900px) {
  .middle .middle-simple-operation .simple-operation-cotent .simple-img {
    width: 55.17%;
  }
}
@media (max-width: 768px) {
  .middle .middle-simple-operation .simple-operation-cotent .simple-img {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  .middle .middle-simple-operation .simple-operation-cotent .simple-content {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .middle .middle-simple-operation .simple-operation-cotent .simple-content {
    width: 85.3%;
    margin-top: 60px;
    text-align: center;
  }
}
.middle .middle-simple-operation .simple-operation-cotent .query-img {
  box-shadow: -15px 23px 35px 0px rgba(79, 181, 255, 0.12);
}
@media (max-width: 768px) {
  .middle .middle-simple-operation .simple-operation-cotent .query-img {
    width: 63.6%;
    margin-top: 24px;
    margin-bottom: 97px;
  }
}
.middle .middle-simple-operation .simple-operation-cotent .simple-content-title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}
@media (max-width: 1024px) {
  .middle .middle-simple-operation .simple-operation-cotent .simple-content-title {
    font-size: 20px;
  }
}
.middle .middle-simple-operation .simple-operation-cotent .simple-content-text {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}
@media (max-width: 1024px) {
  .middle .middle-simple-operation .simple-operation-cotent .simple-content-text {
    font-size: 16px;
    margin-top: 12px;
  }
}
.middle .middle-simple-operation .middle-query-cotent {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .middle .middle-simple-operation .middle-query-cotent {
    flex-direction: column-reverse;
  }
}
.middle .simple-operation-color {
  background: #f5f9ff;
}
.middle .middle-information {
  width: 100%;
  height: 920px;
  background: #f5f5f5;
  padding-top: 80px;
}
@media (max-width: 1600px) {
  .middle .middle-information {
    padding-top: 61px;
    height: 819px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-information {
    padding-top: 51px;
    height: 689px;
  }
}
@media (max-width: 768px) {
  .middle .middle-information {
    height: auto;
    padding-top: 46px;
  }
}
.middle .middle-information .information-title {
  font-size: 36px;
  font-weight: 700;
  text-align: CENTER;
  color: rgba(0, 0, 0, 0.85);
}
@media (max-width: 1600px) {
  .middle .middle-information .information-title {
    font-size: 28px;
  }
}
.middle .middle-information .information-content {
  width: 62.5%;
  margin-left: 18.75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 81px;
}
@media (max-width: 1600px) {
  .middle .middle-information .information-content {
    width: 90.625%;
    margin-left: 4.6875%;
    margin-top: 71px;
  }
}
@media (max-width: 1600px) {
  .middle .middle-information .information-content {
    margin-top: 53px;
  }
}
@media (max-width: 768px) {
  .middle .middle-information .information-content {
    width: 87.2%;
    margin-left: 6.4%;
    margin-top: 47px;
  }
}
.middle .middle-information .information-content .content-list {
  width: calc((100% - 140px) * 0.5);
  background: white;
  padding: 24px;
  border-radius: 9px;
  margin-bottom: 36px;
}
@media (max-width: 1600px) {
  .middle .middle-information .information-content .content-list {
    width: calc((100% - 136px) * 0.5);
    margin-bottom: 24px;
  }
}
@media (max-width: 1024px) {
  .middle .middle-information .information-content .content-list {
    width: calc((100% - 144px) * 0.5);
    margin-bottom: 32px;
    height: 207px;
  }
}
@media (max-width: 768px) {
  .middle .middle-information .information-content .content-list {
    width: calc(100% - 24px);
    margin-bottom: 24px;
    padding: 12px;
    height: 146px;
  }
}
.middle .middle-information .information-content .content-list .list-content {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .middle .middle-information .information-content .content-list .list-content {
    height: 207px;
  }
}
@media (max-width: 768px) {
  .middle .middle-information .information-content .content-list .list-content {
    height: 146px;
  }
}
.middle .middle-information .information-content .content-list .list-content .list-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .middle .middle-information .information-content .content-list .list-content .list-top {
    margin-bottom: 5px;
  }
}
.middle .middle-information .information-content .content-list .list-content .list-top .list-title {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}
@media (max-width: 1600px) {
  .middle .middle-information .information-content .content-list .list-content .list-top .list-title {
    font-size: 16px;
    font-weight: 500;
  }
}
.middle .middle-information .information-content .content-list .list-content .list-top .list-more {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.65);
}
.middle .middle-information .information-content .content-list .list-content .list-a {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 23px;
  display: inline-block;
}
@media (max-width: 1600px) {
  .middle .middle-information .information-content .content-list .list-content .list-a {
    font-size: 13px;
    margin-top: 17px;
  }
}
@media (max-width: 768px) {
  .middle .middle-information .information-content .content-list .list-content .list-a {
    font-size: 13px;
    margin-top: 11px;
  }
}
.middle .middle-information .information-content .content-list .list-content .list-a:hover {
  opacity: 0.8;
}
.middle .middle-information .information-content .content-list .list-content .list-line {
  width: 100%;
  margin-top: 8px;
  border: 0.5px dashed rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
